@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f5f8fa;
}

.home-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	display: grid;
	place-items: center;
}

.home-head {
	width: 100%;
	padding: 0 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.home-title {
	text-align: start;
	font-size: 0.9rem;
	font-weight: 500;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.5);
	padding: 0.3rem 1rem;
	border-radius: 0.6rem;
	width: max-content;
	/* border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1); */
}

.home-grid {
	display: grid;
	grid-template-columns: 1fr;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.6rem;
}

.tweet-card {
	color: #000;
	display: flex;
	flex-direction: column;
	max-width: 600px;
	text-decoration: none;
	transition: all 0.2s ease;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tweet-card:hover {
	background-color: #fff;
}

.tweet-card-content {
	display: flex;
}

.tweet-card-image {
	flex: 0 0 auto;
}

.tweet-image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	border-radius: 0.3rem;
}

.tweet-card-body {
	flex: 1;
	padding: 20px;
}
.tweet-card:nth-child(1) {
	border-radius: 0.5rem 0.5rem 0 0;
}

.tweet-card:last-child {
	/* background-color: red; */
	border-radius: 0 0 0.5rem 0.5rem;
}

.tweet-title {
	color: #161a30;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 8px;
}

.tweet-description {
	font-size: 0.8rem;
	margin-bottom: 8px;
	color: #495057;
}

.tweet-published {
	font-size: 0.8rem;
	color: #8899a6;
}

.tweet-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.tweet-actions {
	display: flex;
	gap: 10px;
}

.tweet-action {
	color: #8899a6;
	cursor: pointer;
}

.tweet-action:hover {
	color: #1da1f2;
}

.custom-header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.header-wrapper {
	width: 800px;
	padding: 0 6rem;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0.3rem 0 0.3rem;
	/* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.header-logo img {
	height: 1.5rem;
}

.header-links {
	list-style-type: none;
	display: flex;
	gap: 1rem;
}

.header-link {
	color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
	transition: color 0.3s ease;
	font-size: 0.9rem;
}

.header-link:hover {
	color: rgba(0, 0, 0, 0.85);
}

.custom-footer {
	/* background-color: #333; */
	color: rgba(0, 0, 0, 0.85);
	padding: 1rem 0;
}

.footer-content {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.footer-content p {
	font-size: 0.8rem;
}

.article-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.article-title {
	font-size: 2rem;
	font-weight: bold;
	color: #161a30;
	margin-bottom: 20px;
}

.article-description {
	font-size: 1.2rem;
	color: #495057;
	margin-bottom: 20px;
}

.read-more-link {
	font-size: 1rem;
	color: #1da1f2;
	text-decoration: none;
	transition: opacity 0.3s ease-in-out;
}

.read-more-link:hover {
	opacity: 0.8;
}

.search-form {
	display: flex;
	justify-content: center;
}

.search-container {
	position: relative;
}

.search-input {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.4rem 2rem 0.4rem 0.7rem;
	border-radius: 0.6rem;
	transition: all 0.3s;
	font-size: 0.8rem;
}

.search-input:focus {
	box-shadow: none;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.search-icon {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
	background: none;
	border: none;
	color: rgba(0, 0, 0, 0.3);
	font-weight: 400;
	font-size: 0.9rem;
}

.search-icon:focus {
	outline: none;
}
