@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Courier Prime', monospace;
	background-color: #f8f9fa;
}

.title {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
	color: #1da1f2;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	display: grid;
	place-items: center;
}

.title {
	text-align: center;
	font-size: 2rem;
	color: #161a30;
}

.grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #161a30;
	width: max-content;
	border-radius: 10px;
}

.article-link {
	text-decoration: none;
}

.article {
	background-color: #f5f8fa;
	padding: 20px;
	width: 100%;
	max-width: 600px;
	min-width: 600px;
	transition: transform 0.3s ease-in-out;
	border-bottom: 1px solid #161a30;
	border-radius: 10px 10px 0 0;
}

.article-title {
	font-size: 1rem;
	margin-bottom: 10px;
	color: #161a30;
}

.article-description {
	font-size: 0.8rem;
	margin-bottom: 15px;
	color: #31304d;
}

.article-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.article-tags {
	color: #525ceb;
	font-size: 0.8rem;
	border: 1px solid #525ceb;
	border-radius: 3px;
	padding: 2px 3px;
}

.article-watched-stats,
.article-read-time {
	color: #fe0000;
	font-size: 0.8rem;
	border: 1px solid #fe0000;
	border-radius: 3px;
	padding: 2px 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.read-more-link {
	color: #161a30;
	text-decoration: none;
	transition: opacity 0.3s ease-in-out;
	text-decoration: underline;
}

.read-more-link:hover {
	opacity: 0.8;
}
